@import url('https://fonts.googleapis.com/css2?family=Alegreya');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:ital,wght@0,400;0,700;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:ital,wght@0,400;0,700;1,200;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #0000ff;
    
}

header {
    background-image: url('/images/background.svg');
    background-size:contain;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items:flex-start;
    justify-content: center;
    overflow:hidden
    
}

h1 {
    font-family: Alegreya;
    font-size: 2.2rem;
}

h2.sub {
    padding: 1.5em;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

h3 {
    font-family: Oxygen, sans-serif;
    padding-top: 10px;
    font-weight: 600;
}

img.nean {
    width: 300px;
    display: block;
    margin: auto;
    padding: 0; 
}

nav {
    margin-top: 2em;
    display: flex;
    justify-content:stretch;
    
}

button {
    display: inline-block;
    width: 10em;
    height: 4em;
    margin-left: 1em;
    border: none;
    border-radius: 3em;
    background-color: rgb(35, 35, 36);
    color: rgb(240, 240, 240);
    cursor: pointer;
    transition: all 0.5s;
    font-size: 0.9em;
}

button:hover {
    background-color: #000;
}

button span {
    cursor: pointer;
    position: relative;
    transition: 0.5;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1em;
    transition: 0.5s;
}

button:hover span{
    padding-right: 1.5em;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

fieldset {
    
    padding: 0.5em;
    color: rgb(35, 35, 36);
}

#apps {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em;
    transform: translateX(30em);
    margin-top: -0.5em;
}

a.listen-on {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 36);
    color: rgb(240, 240, 240);
    border-radius: 0.8em;
    height: 2em;
    width: 13em;
    
}

img.app {
    width: 2.5em;
    height: 2.5em;
}

span.name-app {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 900;
    margin-left: -0.5em;
}


@media screen and (max-width: 800px) {
    header {
        padding: 0;
    }

    img {
        width: 100px;
   
    }
    
    h1,
    h3 {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        padding-top: 0;
        font-size: 15px;
    }

    nav {
        padding: 20px;

    }
}
