<header>
    <div>
        <img class="nean" src="./images/Nean_deer_Thal-fundo-off.png" alt="Nean deer Thal, o Mascote">
        <h1>SALVE AGRACIADOS DO MUNDO INTEIRO E DE OUTROS MUNDOS TAMBÉM!!</h1>
        <h2 class="sub">Esta é a casa do Admirável Cristão Novo, por favor, sinta-se à vontade.<br>
        Ainda está em construção, mas fique traquilo; a rinite não vai atacar aqui. 
        </h2>
        <%- include('../layout/nav.ejs') %>
    </div>
    
</header>