<nav>
    <div id="nav">
        <button type="button" onclick="location.href='#episodes'"><span>EPISÓDIOS </span></button>
        <button type="button" onclick="location.href=''"><span>SOBRE </span></button>
        
    </div>
        <div id="apps">
            <a class="listen-on" type="button" onclick="location.href='https://open.spotify.com/show/3MwKImHNmEVcvsvc0YUt3o'">
                <img class="app" src="./images/6-sf.svg" alt="">    
                </img><span class="name-app">Spotify</span></a>
            <a class="listen-on" type="button" onclick="location.href='https://podcasts.apple.com/us/podcast/admir%C3%A1vel-crist%C3%A3o-novo/id1539851443'">
                <img class="app" src="./images/2-ap.svg" alt="">    
                </img><span class="name-app">Apple Podcasts</span></a>
            <a class="listen-on" type="button" onclick="location.href='https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8zZjc5YTNkMC9wb2RjYXN0L3Jzcw=='">
                <img class="app" src="./images/7-gp.svg" alt="">    
                </img><span class="name-app">Google Podcasts</span></a>
            <a class="listen-on" type="button" onclick="location.href='https://www.deezer.com/br/show/1964442'">
                <img class="app" src="./images/5-dz.svg" alt="">    
                </img><span class="name-app">Deezer</span></a>
            <a class="listen-on" type="button" onclick="location.href='https://anchor.fm/admiravel-cristao-novo'">
                <img class="app" src="./images/4-ac.svg" alt="">    
                </img><span class="name-app">Anchor</span></a>
            <a class="listen-on" type="button" onclick="location.href='https://anchor.fm/s/3f79a3d0/podcast/rss'">
                <img class="app" src="./images/3-fr.svg" alt="">    
                </img><span class="name-app">Feed RSS</span></a>
        </div>
</nav>