  <div id="remove-player">
    <img class="playerBtn remove" src="/images/remove.svg" title="Remover o Player" alt="remover o player">
  </div>
  
  <section id="player">
    <div id="controls">
      <img class="playerBtn backward" src="/images/backward.svg" title="Voltar 10 segundos" alt="voltar 10 segundos"/>
      <div id="btn">
        <img class="playerBtn play" src="/images/play.svg" title="Play" alt="tocar" />
        <img class="playerBtn pause" src="/images/pause.svg" title="Pause" alt="pausar" />
      </div>
      <img class="playerBtn foward" src="/images/foward.svg" title="Avançar 10 segundos" alt="avançar 10 segundos"/>
    </div>
  </section>
  <div id="player-container">
    <section id="episode">
      <h2><%= episode.chapter %></h2>
      <i><%= episode.title %></i>
    </section>
    <section id="duration">
      <div id="progress">
        <input type="range" value="0" id="seek-bar" class="slider">
      </div>
      <div id="time">
        <p id="start">--:--</p>
        <p id="end">--:--</p>
      </div>
    </section>
    <section id="vol-controls">
      <div id="volume">
        <img class="vol-max vol playerBtn" src="/images/vol-max.svg" title="Mutar" alt="volume alto" />
        <img class="vol-med vol playerBtn" src="/images/vol-med.svg" title="Mutar" alt="volume médio"/>
        <img class="vol-min vol playerBtn" src="/images/vol-min.svg" title="Mutar" alt="volume baixo" />
        <img class="muted vol playerBtn" src="/images/muted.svg" title="Desmutar" alt="mutado"/>
      </div>
      <div id="vol-bar">
        <input type="range" min="0" max="100" id="vol" class="slider">
      </div>
    </section>
    <audio preload="auto" src="<%= episode.audio %>"></audio>
  </div>

<script src="/scripts/player.js"></script>
